@{
    Layout = "_WorkLayout";
    ViewData["Title"] = "WebLib | Просмотр авторов";
}

@model IEnumerable<WebLib.Models.DbTableModels.DepartmentListModel>

@Html.Partial("LibrarianBookMenu")



<div class="list-grid">
    <div class="db-list">
        @if (Model != null)
        {
            @foreach (WebLib.Models.DbTableModels.DepartmentListModel department in Model)
            {
                <div class="list-author-department">
                    <div class="author-department-name">@department.Department.Name</div>
                </div>
            }
        }
    </div>
</div>


<script type="text/javascript">
    $(function () {

        $('.db-search').change(function()
        {
            var id = $(this).val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SearchDepartments")/',
                data: { symbols: id },
                success: function (data) {

                    $('.db-list').replaceWith(data);
                }
            });
        });
    })
</script>
