 <div class="work-page-menu">
        <nav class="menu-navigation">
            <input type="text" placeholder="Поиск" class="db-search">
            <span class="menu-title">
                НАВИГАЦИЯ
            </span>
            <ul class="menu-navigation-items">
                <li class="menu-item">
                    @Html.ActionLink("Авторы", "Authors", "Librarian", null, new { @class = "menu-item-link" })
                </li>
                <li class="menu-item">
                    @Html.ActionLink("Книги", "Books", "Librarian", null, new { @class = "menu-item-link" })
                </li>
                <li class="menu-item">
                    @Html.ActionLink("Отделы", "Departments", "Librarian", null, new { @class = "menu-item-link" })
                </li>
                <li class="menu-item">
                    @Html.ActionLink("Библиотеки", "Libraries", "Librarian", null, new { @class = "menu-item-link" })
                </li>
            </ul>
        </nav>
        <footer class="work-footer">
            Copyright (c) 2019<br>
            Created by Margo
        </footer>
    </div>
