
@model IEnumerable<WebLib.Models.DbTableModels.DepartmentListModel>

<div class="db-list">
    @if (Model != null)
    {
        @foreach (WebLib.Models.DbTableModels.DepartmentListModel department in Model)
        {
            <div class="list-author-department">
                <div class="author-department-name">@department.Department.Name</div>
            </div>
        }
    }
</div>